@* Views/Shared/_WeatherPartial.cshtml *@
@model CatalogoFilmesTempo.Models.Weather.WeatherForecast

@* Removida a variável 'today' e o método 'GetTodayForecast()'.
    Usamos as propriedades de conveniência (Temperature, Humidity) ou acessamos Model.Current.
*@

<div class="row">
    <div class="col-md-12">
        <h5 class="text-info">Clima Atual (@DateTime.Now.ToShortDateString())</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @* Usando as novas propriedades de conveniência do WeatherForecast.cs *@
        <p><strong>Temperatura:</strong> @Model.Temperature.ToString("F1") °C</p>
        <p><strong>Umidade:</strong> @Model.Humidity%</p>
    </div>
    <div class="col-md-6">
        @* Usando o método utilitário para tradução *@
        <p><strong>Condição:</strong> @Model.GetWeatherSummary()</p>
    </div>
</div>

@* A seção de previsão Max/Min foi removida por não termos os dados no JSON atual da API. *@