@model CatalogoFilmesTempo.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Ocorreu um erro ao processar sua requisição.</h2>

@if (Model != null && !string.IsNullOrEmpty(Model.RequestId))
{
    <p>
        <strong>ID da Requisição:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modo de Desenvolvimento</h3>
<p>
    Trocar para o ambiente <strong>Development</strong> exibirá informações mais detalhadas sobre o erro.
</p>