@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Catálogo Filmes & Tempo</h1>
    <p>O catálogo de filmes que acompanha a previsão do tempo!</p>
    <a asp-controller="Filmes" asp-action="Catalogo" class="btn btn-lg btn-primary mt-3">
        Ir para o Catálogo de Filmes
    </a>
</div>